/* pages/detail/detail.wxss */
.detail-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding-bottom: 100rpx;
  box-sizing: border-box;

  .detail-day-groups {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 40rpx;
    }

    .detail-day-group {
      display: flex;
      flex-direction: column;

      .detail-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .detail-icon {
          .detail-icon-show {
            height: 100px;
            width: 100px;
          }
        }

        .detail-text {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }

        .detail-amount {
          display: flex;
          align-items: center;
          font-size: 20px;
        }
      }
    }
  }

  .detail-options {
    width: 100%;
    height: 100rpx;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;

    .detail-add-option {
      display: flex;
      height: 100%;
      background-color: chocolate;
    }
  }
}